.animar {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-image: url('img/start-finish-line-racing-background-top-view-grunge-textured-asphalt-road-abstract-concept-graphic-element-vector-eps10-illustration_182604-282.avif');
    background-repeat: no-repeat;
    height: 1100px;
    width: 1100px;
    background-size: contain;
    padding: 20px;
}
body {
    margin: 0;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}